@using Data
@model WhaleDateProject.Models.ProfileViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.User.Firstname @Model.User.Lastname</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h3>@Model.User.Firstname @Model.User.Lastname</h3>
                <ul class="list-group nav nav-pill nav-stacked">
                    <li class="list-group-item">Ålder:</li>
                    <li class="list-group-item list-group-item-info">@Html.DisplayFor(m => m.User.Age)</li>
                    <li class="list-group-item ">Typ:</li>
                    <li class="list-group-item list-group-item-info">@Html.DisplayFor(m => m.User.Type)</li>
                    <li class="list-group-item">@Model.User.Firstname är:</li>
                    <li class="list-group-item list-group-item-info">@Html.DisplayFor(m => m.User.Gender)</li>
                    <li class="list-group-item">Intresserad av: </li>
                    <li class="list-group-item list-group-item-info">@Html.DisplayFor(m => m.User.InterestedIn)</li>

                </ul><br>
                <h4>Skriv ett inlägg på @Model.User.Firstname<text>s vägg!</text></h4>
                <script>
                function addPost() {
                    var Text = $('#Text').val();
                    var Sender = '@User.Identity.Name';
                    var Reciever = '@Model.User.UserName';
                    var newPost = {FromUsername: Sender, ToUsername: Reciever, Text: Text};
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Post","Post", new { httproute = "" })',
                            data: JSON.stringify(newPost),
                            contentType:'application/json',
                            datatype: 'json',
                            success: function (data) {
                                $('#Text').val('');
                                location.reload();
                            }
                        })
                    };
                </script>
                    <textarea  id="Text" rows="3" cols="500" style="width:256px"></textarea><br />
                    <input type="button" value="Skicka inlägg" onclick="addPost()" />
            </div>


            <div class="col-sm-6">
                <h4><small><br>INLÄGG</small></h4>
                @foreach(var item in Model.Posts)
                {
                    <hr>
                    <h2>@item.From.Firstname @item.From.Lastname</h2>
                    <h5><span class="glyphicon glyphicon-time"></span>@item.Date </h5>
                    <p>@item.Text</p>
                    <br><br>
                }

            </div>

            <div class="col-sm-3 sidenav">
                <img class="img-rounded img-responsive" src="@Url.Action("Image", new { username = Model.User.UserName })" />
                <div>


                    @switch (Repository.UserAdded(User.Identity.Name, Model.User.UserName))
                    {
                        case "none":
                            <h5 class="text-success">
                                <button class="btn btn-group-xs" type="button" onclick="location.href='@Url.Action("Index", "Friendrequest", new { Username = Model.User.UserName })'">
                                    <span class="glyphicon glyphicon-hand-right"></span>
                                </button>
                                Skicka en vänförfrågan till @Model.User.Firstname<text>!</text>
                            </h5>
                            break;

                        case "friend":
                            <h5 class="text-success">
                                Du och @Model.User.Firstname är vänner.
                            </h5>
                            break;
                        case "request":
                            <h5 class="text-success">
                                Vänförfrågan skickad till @Model.User.Firstname<text>!</text>
                            </h5>
                            break;
                        case "requesttome":
                            <h5 class="text-success">
                                @Model.User.Firstname har skickat en vänförfrågan till dig!
                            </h5>
                            break;
                    }
                </div>
                <div>

                    <h3>Om @Html.DisplayFor(m => m.User.Firstname)</h3>
                    <div class="panel panel-default sidenav">

                        <div class="panel-body" id="Bio">@Html.DisplayFor(m => m.User.Bio)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


