@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="input-group">
            <ul class="nav navbar-nav navbar-right">
                <li>

                    <input type="text" class="form-control" placeholder="Sök profiler..">
                    </li>
                <li>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>

                </li>
                <li>
                    @Html.ActionLink(User.Identity.Name, "Index", "Profile", routeValues: new { username = User.Identity.Name }, htmlAttributes: new { title = "Manage" })

                </li>
                <li>@Html.ActionLink("Kontaktlista", "Index", "Friend")</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrera", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
