@using Microsoft.AspNet.Identity
@using Data
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="input-group">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Sök användare", "Index", "Search")
                </li>

                <li>
                    @Html.ActionLink("Min profil", "Index", "Profile")

                </li>
                <li>@Html.ActionLink("Vänförfrågningar [" + Repository.NewRequests(User.Identity.Name) + "]", "RequestList", "Friendrequest")</li>
                <li>@Html.ActionLink("Kontaktlista", "Index", "Friend")</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Logga ut</a></li>
            </ul>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Data.Internationalization.HomeTexts.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Data.Internationalization.HomeTexts.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
