@model IEnumerable<Data.Models.Friend>

@{
    ViewBag.Title = "Index";
}

<h2>Kontaktlista</h2>

<table class="table">
    <tr>
        <th>
            Vänner
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.User.UserName == User.Identity.Name)
            {
                @Html.DisplayFor(modelItem => item.AddedUser.Firstname)  <text> </text> @Html.DisplayFor(modelItem => item.AddedUser.Lastname)
            } else if(item.AddedUser.UserName == User.Identity.Name)
            {
                @Html.DisplayFor(modelItem => item.User.Firstname) <text> </text> @Html.DisplayFor(modelItem => item.User.Lastname)
            }
        </td>
        <td>
            @if (item.User.UserName == User.Identity.Name)
            {
                @Html.ActionLink("Profil |", "Profile", "Profile", new { username = item.AddedUser.UserName }, htmlAttributes: null) 

                @Html.ActionLink(" Ta bort", "Delete", new { username = item.AddedUser.UserName })
            } else
            {
                @Html.ActionLink("Profil |", "Profile", "Profile", new { username = item.User.UserName }, htmlAttributes: null)
                @Html.ActionLink(" Ta bort", "Delete", new { username = item.User.UserName })
            }

            
        </td>
    </tr>
}

</table>
